# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.venv/

# Node
node_modules/
dist/

# VS Code
.vscode/

# Environment
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database
database/*.db

# Models
models/**/*.gguf
models/**/*.bin
gitlab-runner.exe